@import '_common.scss';

.App {
    align-items: center;
}

#container {
    width: 100%;
    max-width: 1200px;
}

header {
    margin: 32px 0 32px 0;
}

main {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
}

#title {
    color: gray;
}

#status-area {
    font-size: 1.4rem;
    color: gray;
}

@media only screen and (max-width: 1220px) {
    main {
        justify-content: space-around;
    }
}
