.App {
    background-color: #fafafa;
    align-items: center;
}

#container {
    width: 1200px;
    height: 100%;
}

header {
    height: 200px;
    text-align: center;
}

#book-container {
    margin: 40px;
}