@import '@material/elevation/mdc-elevation';
@import '_common.scss';

.book--card {
    height: 296px;
    width: 575px;
    background-color: #fff;
    margin: 0 8px 42px 8px;
}

.book--cover-photo {
    padding: 8px;
    flex-shrink: 0;
    object-fit: cover;
    width: 192px;
    height: 296px;
    //height: 100%;
}

.book--info {
    width: 100%;
    padding: 24px 24px 8px 24px;
    background-color: #fff;
}

.book--title {
    margin: 0 0 4px 0;
    line-height: 1;
    font-size: 2.2rem;
    font-weight: 500;
    color: #333;

}
.book--author-publisher {
    font-size: 1rem;
    color: gray;
    font-weight: 400;
}

.book--description {
    font-size: .8rem;
}

.book--more-info-button {
    margin-top: auto;
    margin-left: auto;
}

@media only screen and (max-width: 650px) {
    .book--title {
        font-size: 1.4rem;
    }
    .book--info {
        padding: 8px;
    }
    .book--card {
        margin-left: 8px;
        margin-right: 8px;
    }
} 